<div class="container">
  <app-masthead></app-masthead>
  <div class="row">
    <div class="col-sm">
      <app-wallet [wallet]="wallet"></app-wallet>
      <app-wallet-actions (send)="sendTransaction.openModal(sendTransaction.passphraseModal)"></app-wallet-actions>
      <app-send-transaction #sendTransaction [wallet]="wallet" (transactionSent)="onTransactionSent($event)"></app-send-transaction>
    </div>
    <div class="col-sm">
      <app-transaction-list [lastBlockNumberSynced]="lastBlockNumberSynced" [endBlockNumber]="endBlockNumber" [transactions]="transactions" [wallet]="wallet"></app-transaction-list>
    </div>
  </div>
</div>
